/* Estilos Gerais para Recuperar Senha */
.recover-password-container {
    display: flex;
    flex-direction: column; /* Adiciona flex-direction column para a logo e o card */
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #f5c542; /* Cor de fundo amarelo */
    padding: 10px;
    box-sizing: border-box;
}

.logo-container {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 450px;
    height: auto;
    z-index: 10;
    display: flex;
    justify-content: center;
}

.logo-container img {
    width: 100%;
    height: auto;
}

.card {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    box-sizing: border-box;
    margin-top: 70px;
    border-radius: 8px;
}

.field {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.text-base {
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .recover-password-container {
        padding: 20px;
    }

    .card {
        padding: 15px;
    }

    .text-base {
        font-size: 0.9rem;
    }

    .login-container {
        width: 100%;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .recover-password-container {
        padding: 15px;
    }

    .card {
        padding: 10px;
    }

    .text-base {
        font-size: 0.8rem;
    }

    .logo-container {
        width: 350px;
    }
}
